main{
    padding-top: 120px;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.create_block_pan{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 800;
    display: none;
}







h1{
    margin-left: 10px;
}
.profile{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.profile_info{
    width: 35%;
    border: 3px solid rgb(204, 234, 221);
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 15px;
}
.profile_box{
    display: flex;
    margin-bottom: 10px;
}
.profile_img{
    width: 100px;
    height: 100px;
    background-color: black;
    background: url(../img/test_profile_img.png) no-repeat center center / contain;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    margin-right: 10px;
}
.profile_text{
    margin: 0;
    line-height: 50px;
    font-weight: bold;
    font-size: 25px;
}
.user_info{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.user_info h3{
    margin: 0;
    color: rgb(82, 92, 97);
}
.user_info p{
    width: 100%;
    height: 30px;
    margin: 5px 0px 10px 0px;
    font-weight: 600;
    border-bottom: 2px solid rgba(204, 234, 221, 1);
}






.profile_menu{
    width: 62%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.menu{
    width: calc((100% /2) - 20px);
    border: 3px solid rgba(204, 234, 221, 1);
    border-radius: 20px;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    transition: 0.2s;
}
.menu svg{
    margin-top: 0;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
}
.menu:hover{
    cursor: pointer;
    background-color: rgba(204, 234, 221, 0.4);
    transition: 0.2s;
}
.menu p{
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    margin-left: 7px;
}
.menu p:nth-child(3){
    font-size: 17px;
    color: gray;
}
.menu_icon{
    width: 50px;
    height: 50px;
    background-color: black;
    margin-bottom: 13px;
}



@media screen and (max-width: 1080px) {
    main{
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
    }
    .menu{
        width: 100%;
    }
    .profile_info{
        margin-bottom: 10px;
        margin-left: 0px;
        height: 470px;
    }

}

@media screen and (max-width: 800px) {
    main{
        padding-top: 80px;
    }
    .profile{
        width: 100%;
        display: block;
    }
    .profile_info{
        width: 100%;
        height: auto;
    }
    .profile_menu{
        width: 100%;
        gap: 10px;
    }
    .menu{
        width: 100%;
        padding-bottom: 10px;
    }
    .menu p:nth-child(3){
        font-size: 15px;
        color: gray;
    }
}
@media screen and (max-width: 480px) {
    main{
        padding-top: 70px;
    }
    main h1{
        margin: 5px 0px;
        margin-left: 10px;
    }
}